<%= stylesheet_link_tag "box.css", :media => "all" %>
<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>

  <table class="form">
    <td>
      <%= form.label :ç™ºè¨€ %>
      <div><%= form.file_field :photo %><div>
      <%= form.text_area :name,rows:"5",cols:"50",maxlength:"1000"%>
        <div class="field">

      </div>
    </td>
    <td>
      <div class="actions">
        <!--====================ã‚¿ã‚°æ¤œç´¢æƒ…å ±====================-->
        <input type="hidden" name="school" value="<%=@inputtag.school %>">
        <input type="hidden" name="faculty" value="<%=@inputtag.faculty %>">
        <input type="hidden" name="department" value="<%=@inputtag.department %>">
        <input type="hidden" name="tag1" value="<%=@inputtag.tag1 %>">
        <input type="hidden" name="tag2" value="<%=@inputtag.tag2 %>">
        <input type="hidden" name="tag3" value="<%=@inputtag.tag3 %>">
        <input type="hidden" name="tag4" value="<%=@inputtag.tag4 %>">
        <input type="hidden" name="tag5" value="<%=@inputtag.tag5 %>">
        <input type="hidden" name="tag6" value="<%=@inputtag.tag6 %>">
        <input type="hidden" name="tag7" value="<%=@inputtag.tag7 %>">
        <input type="hidden" name="tag8" value="<%=@inputtag.tag8 %>">
        <input type="hidden" name="tag9" value="<%=@inputtag.tag9 %>">
        <input type="hidden" name="tag10" value="<%=@inputtag.tag10 %>">
        <!--====================ã‚¿ã‚°æ¤œç´¢æƒ…å ±====================-->
        <div class="button1">
          <div class="on">
        <%= form.submit"é€ä¿¡ðŸ“¤" %>
          </div>
        </div>
      </div>
    </td>
  </table>
<% end %>